@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra: #283136;
  --basic-white: #ffffff;
  --basic-light-gray: #eeeeee;
  --basic-button: #fb565a;
  --basic-button-mobile-app: #00ca74;
  --basic-button-mobile-app-hover: #00bc6c;
  --basic-button-mobile-app-click: #00aa62;
  --basic-button-presentation: #efc849;
  --basic-button-presentation-hover: #eab534;
  --basic-button-presentation-click: #e5a722;
  --basic-active-template: #4d4d4d;
  --basic-button-hover: #e74246;
  --basic-button-click: #d7373b;
  --basic-button-focus: #a6a6a6;
  --social-shape: #e1e1e1;
  --scale: #d7dcdf;
  --shadow: #cfcfcf;
  --bar: #00ca74;
  --filter-radio: #888888;
  --button-hover: #dfdfdf;
  --button-click: #d5d5d5;
  --border-pagination: #dbdbdb;
  --border-feedback-fieldset: #d7dcde;
  --modal-text-box-color: #444444;
  --address-text: #666666;
  --slider-border: #c4c4c4;
  /* rgba */
  --basic-black-rgba: 0, 0, 0;
  --modal-close-rgba: 251, 86, 90;
  --basic-white-rgba: 255, 255, 255;
  --filter-border-rgba: 40, 49, 54;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1157px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pagination-number,
.address-text,
.button {
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

/* Header */
.main-header {
  background-color: var(--basic-light-gray);
  padding-top: 49px;
}

.main-header-div {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* justify-content: center; */
  align-items: center;
  text-transform: uppercase;
}

.main-header-logo {
  max-width: 160px;
  max-height: 65px;
}

.main-nav {
  margin-right: 246px;
  margin-left: 202px;
}

.main-header-logo-catalog :hover {
  opacity: 0.7;
  cursor: pointer;
}

.main-header-logo-catalog :focus {
  opacity: 0.3;
  cursor: pointer;
}

.item-navigation {
  position:relative;
  line-height: 30px;
  font-weight: 500;
}

.item-navigation:not(:last-child) {
  margin-right: 45px;
}

.item-navigation a {
  display: block;
  color: var(--basic-black);
}

.link-cart:hover,
.list-navigation a:hover {
  color: var(--basic-button);
}

.link-cart:focus,
.list-navigation a:focus {
  color: var(--basic-button-focus);
}

.active:after{
  content:"";
  position:absolute;
  border-bottom-style: solid;
  border-bottom-color: var(--basic-button);
  width: 75px;
  height: 1px;
  bottom:-13px;
}

.list-navigation {
  list-style: none;
  color: var(--basic-extra);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 14px;
  /* flex-wrap: wrap; */
}

.list-navigation a {
  display: block;
  position: relative;
}

.link-cart {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  padding-top: 14px;
  color: var(--basic-black);
  margin-left: 16px;
  /* outline: 5px solid rgb(90, 12, 12);
  outline-offset: -5px; */
}

.link-cart:before {
  content: "";
  background-image: url("../img/icon/cart-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  position: absolute;
  left: -18px;
  bottom: 8px;
}

.cart-text {
  margin-left: 25px;
}

/* Head pages */

.button {
  display: inline-block;
  background-color: var(--basic-button);
  text-transform: uppercase;
  padding: 15px 40px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  background-color: var(--basic-button-hover);
}

.button:focus {
  background-color: var(--basic-button-click);
  color: rgba(var(--basic-white-rgba), 0.3);
}

.button-mobile-app {
  background-color: var(--basic-button-mobile-app);
}

.button-mobile-app:hover {
  background-color: var(--basic-button-mobile-app-hover);
}

.button-mobile-app:focus {
  background-color: var(--basic-button-mobile-app-click);
  color: rgba(var(--basic-white-rgba), 0.3);
}

.button-presentation {
  background-color: var(--basic-button-presentation);
}

.button-presentation:hover {
  background-color: var(--basic-button-presentation-hover);
}

.button-presentation:focus {
  background-color: var(--basic-button-presentation-click);
  color: rgba(var(--basic-white-rgba), 0.3);
}

.slideshow {
  background-color: var(--basic-light-gray);
  margin-bottom: 80px;
  /* outline: 5px solid rgb(90, 12, 12); */
  /* outline-offset: -5px; */
  min-height: 431px;
  position: relative;
}

.slide {
  display: grid;
  grid-template-columns: 397px 760px;
}

.slide-photo {
  width: 760px;
  height: 431px;
}

.slide-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 78px;
  max-width: 397px;
}

.current:after {
  position: absolute;
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 4px solid var(--slider-border);
  border-radius: 50%;
  z-index: 1;
  right: 2px;
}

.slider-controls {
  position: absolute;
  top: 315px;
  right: 48%;
  display: flex;
  min-width: 90px;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current:before {
  position: absolute;
  padding: 0;
  content: "";
  width: 5px;
  height: 5px;
  z-index: 1;
  left: 2px;
  top: 3px;
  background-color: transparent;
  border: 3px solid var(--slider-border);
  border-radius: 50%;
  cursor: pointer;
}

.article {
  margin: 0;
  padding: 0;
}

.article .text {
  max-width: 397px;
}

.list-services {
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  row-gap: 60px;
  margin: 80px 0;
  padding: 0;
}

.list-services li img {
  width: 300px;
  height: 146px;
}

.services-section:after {
  content: "";
  position: absolute;
  background: var(--basic-light-gray);
  height: 2px;
  /* width: 1158px; */
}

.text {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.orders-text {
  margin-top: 40px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.text-header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
  margin-top: 73px;
}

.benefits-section {
  display: flex;
  width: 1174px;
  margin: 0;
  padding: 0;
}

.partners-section {
  margin-top: 110px;
  margin-left: 30px;
  margin-bottom: 90px;
  position: relative;
}

.item-partner {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.item-partner a {
  opacity: 0.2;
}

.item-partner a:focus {
  opacity: 0.1;
  cursor: pointer;
}

.item-partner a:hover {
  opacity: 1;
  cursor: pointer;
}

.item-partner:not(:last-child):after {
  position: absolute;
  content: "";
  background: var(--basic-light-gray);
  height: 3px;
  width: 50px;
  transform: rotate(90deg);
  left: 230px;
  top: 30px;
}

.partners-section:after {
  content: "";
  position: absolute;
  background: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
  bottom: -25px;
}

.partners-section:before {
  content: "";
  position: absolute;
  background: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
  bottom: 160px;
}

.list-partners {
  list-style: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.benefits-column-one {
  margin: 0;
  padding: 0;
  margin-right: 149px;
}

.benefits-column-two img {
  width: 360px;
  height: 208px;
  margin-top: 39px;
}

.benefits-text {
  margin-top: 30px;
  margin-bottom: 28px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.services-slogan {
  margin-top: 0;
  margin-bottom: 32px;
}

.address-text,
.desc-percent {
  line-height: 18px;
}

.percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  margin: 0;
}

.percent-symbol {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.list-orders {
  list-style: none;
  margin: 0;
}

.list-orders {
  list-style: none;
}

.item-order {
  margin-bottom: 25px;
  position: relative;
}

.list-orders li:before {
  content: "";
  border-top: 1px solid red;
  position: absolute;
  width: 25px;
  left: -40px;
  top: 10px;
}

/* Catalog page */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  column-gap: 140px;
  /* outline: 5px solid red; */
  outline-offset: -5px;
  margin-top: 55px;
}

.form-filter fieldset {
  border: none;
}

.catalog-button {
  padding: 16px 70px;
  margin-top: 32px;
}

.range-controls {
  background-color: var(--basic-light-gray);
  height: 41px;
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  /* margin-bottom: 20px; */
}

.range-controls .scale {
  position: relative;
  height: 2px;
  height: 2px;
  background-color: var(--scale);
}

.circle {
  padding: 0;
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  /* background-color: red; */
  border-radius: 50%;
  cursor: pointer;
}

.slider-product {
  z-index: 1;
  right: 78%;
  top: 8px;
  min-width: 60px;

}

.button-product {
  position: relative;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: var(--basic-white);
  /* background-color: black; */
  /* border: 2px solid var(--basic-white); */
  border-radius: 50%;
  cursor: pointer;
}

.product-circle-container button {
  position: relative;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  /* background-color: black; */
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.catalog-header {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 12px;
}

.catalog-modal a:not(:last-child) {
  color:var(--basic-black);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--bar);
}

.scale:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--scale);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow);
  cursor: pointer;
  bottom: -6px;
  left: 0;
}

.scale:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--scale);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow);
  cursor: pointer;
  left: 135px;
  bottom: -6px;
}

.price-controls input {
  width: 50px;
  padding: 10px;
  background-color: var(--basic-light-gray);
  /* background-color: red; */
  border: none;
  border-radius: 5px;
  text-align: right;
}

.button-filter {
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  padding: 18px 90px;
  border: none;
}

.button-filter:hover {
  background-color: var(--button-hover);
}

.button-filter:focus {
  background-color: var(--button-click);
  border: none;
  /* color: rgba(0, 0, 0, 0.3); */
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-navigation {
  display: flex;
  margin-bottom: 54px;
  text-transform: uppercase;
}

.sort-navigation .title {
  margin-right: 266px;
}

.list-sort-filter {
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.item-sort-filter {
  margin-right: 25px;
}

.item-sort-filter a {
  color: var(--basic-black);
  opacity: 0.3;
}

.item-sort-filter a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.item-sort-filter a:focus {
  color: var(--basic-black);
  opacity: 1;
}

.icon-filter {
  margin: 0;
  margin-left: 21px;
  margin-right: 18px;
}

.result-sort-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  clear: both;
}

.result-sort-navigation .product {
  margin-bottom: 31px;
  clear: both;

}

.product {
  max-width: 358px;
  max-height: 578px;
  padding: 0px;
  padding-top: 40px;
  position: relative;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05); */
  clear: both;
}

.product>a:before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  background-color: var(--basic-light-gray);
  border-radius: 1%;
  top: -5px;
  clear: both;
}

.active-template a:before {
  background-color: var(--basic-active-template);
}

.catalog-modal {
  content: "";
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 231px;
  position: absolute;
  bottom: 0px;
  align-items: center;
  background-color: var(--basic-light-gray);
  z-index: 1;
}

.catalog-modal p {
  margin-top: 0;
}

.catalog-text {
  width: 255px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
}

.form-filter fieldset:first-child {
  margin-bottom: 54px;
  width: 260px;
}

.filter-price {
  width: 260px;
}

.filter-price legend {
  margin-bottom: 48px;
}

.form-filter fieldset {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.fieldset-grid {
  margin-bottom: 30px;
  margin-left: 35px;
}

.fieldset-grid label {
  margin-bottom: 20px;
}

.fieldset-grid legend {
  margin: 0;
  margin-left: -33px;
  margin-bottom: 13px;
}

.fieldset-feature {
  margin-bottom: 40px;
  margin-left: 35px;
}

.fieldset-feature label {
  position: relative;
  margin-bottom: 17px;
}

.fieldset-feature legend {
  margin-bottom: 14px;
  margin-left: -33px;
}

.filter-feature-checkbox+label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--filter-radio);
  opacity: 0.5;
  left: -33px;
  border-radius: 20%;
}

.price-controls {
  /* text-transform: uppercase; */
  display: inline-block;
  vertical-align: middle;
  margin-top: 14px;
}

.price-controls label {
  text-transform: uppercase;
}

.min-price-label {
  margin-right: 11px;
}

.max-price-label {
  margin-right: 12px;
  margin-left: 33px;
}

.filter-label {
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  user-select: none;
}

.filter-label:hover {
  color: var(--basic-extra);
  opacity: 1;
}

.filter-label:focus {
  color: var(--basic-extra);
  opacity: 0.3;
}

.filter-grid-radio+label:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 4px solid var(--filter-radio);
  opacity: 0.5;
  left: -33px;
  border-radius: 50%;
  bottom: -2px;
}

.filter-grid-radio:hover+label:before {
  border: 4px solid var(--basic-active-template);
  opacity: 1;
}

.filter-grid-radio:focus:checked+label:before,
.filter-grid-radio:focus+label:before {
  opacity: 0.3;
  border: 4px solid rgba(var(--filter-border-rgba), 0.3);
}

.filter-feature-checkbox:checked+label:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/checked-symbol.svg");
  opacity: 0.5;
  top: 0px;
  left: -29px;
}

.filter-feature-checkbox:hover:checked+label:after,
.filter-feature-checkbox:hover+label::before {
  opacity: 1;
}

.filter-feature-checkbox:focus:checked+label:after,
.filter-feature-checkbox:focus+label::before {
  opacity: 0.3;
}

.filter-grid-radio:checked+label:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border: 3px solid var(--filter-radio);
  background-color: var(--filter-radio);
  opacity: 0.5;
  top: 5px;
  /* right: 0; */
  left: -25px;
  border-radius: 50%;
}

.filter-grid-radio:hover:checked+label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border: 3px solid var(--basic-active-template);
  background-color: var(--filter-radio);
  opacity: 0.5;
  top: 7px;
  left: -27px;
  border-radius: 50%;
  opacity: 1;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--basic-light-gray);
  text-align: center;
}

.title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-header {
  /* margin: 0; */
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.but-services {
  margin-top: 49px;
  margin-bottom: 80px;
}

.footer-text {
  line-height: 22px;
  margin: 0;
  margin-top: 10px;
}

.pagination-container {
  margin-bottom: 60px;
  margin-top: 24px;
}

.pagination {
  line-height: 18px;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-number:not(:first-child) a:hover,
.pagination li:not(:first-child):hover {
  background-color: var(--button-hover);
}

.pagination-number:not(:first-child) a:focus,
.pagination li:not(:first-child):focus {
  background-color: var(--button-click);
  opacity: 0.5;
}

.pagination .active-page {
  background-color: var(--basic-white);
  border: 3px solid var(--border-pagination);
}

.pagination li {
  margin-right: 11px;
  background-color: var(--basic-light-gray);
  padding: 13px 18px;
}

.pagination-number a {
  color: var(--basic-black);
}

.pagination .next {
  padding: 15px 80px;
  text-transform: uppercase;
}

.orders-text {
  font-weight: 700;
}

/* Footer */
.services-article {
  margin: 0;
  padding: 0;
}

.sub-footer {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  margin-left: 328px;
}

.social-container {
  margin-right: 130px;
  margin-top: 20px;
}

.item-social {
  width: 80px;
  height: 80px;
  margin-right: 9px;
  background: var(--social-shape);
  border-radius: 50%;
  position: relative;
}

.item-social img {
  /* margin: 30px 30px; */
  position: absolute;
  left: 33px;
  right: 32px;
  bottom: 48x;
  top: 32px;
}

.item-social:hover {
  background-color: var(--basic-button-hover);
}

.item-social a:focus {
  background-color: var(--basic-button-click);
  opacity: 0.3;
}

.list-social {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-left: -45px; */
  margin-top: -20px;
}

.list-benefits {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  margin-top: 31px;
}

.section-map {
  background-image: url(../img/photo/map.png);
  margin-top: 60px;
  margin-bottom: 68px;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0 30px 50px rgba(var(--basic-black-rgba), 0.7);
}

.modal-feedback {
  display: none;
  padding: 0;
  top: 120px;
  bottom: auto;
  width: 960px;
  height: 590px;
}

.modal-close {
  position: absolute;
  margin-top: 80px;
  top: 0px;
  right: 90px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-show {
  display: block;
  /* animation: bounce 0.6s; */
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 24px;
  height: 4px;
  background-color: rgba(var(--modal-close-rgba), 0.3);
}

.modal-close:hover:before,
.modal-close:hover:after {
  background-color: var(--basic-button);
  border: none;
}

.modal-close:focus:before,
.modal-close:focus:after {
  opacity: 0.5;
  border: none;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.form-feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 63px 100px 83px 100px;
}

.feedback-center-container {
  width: 761px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-feedback input[type="email"],
.form-feedback input[type="text"],
.form-feedback textarea {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 16px;
  font: inherit;
  color: var(--basic-black);
  border: 2px solid var(--border-feedback-fieldset);
}

.form-feedback textarea {
  width: 760px;
  height: 118px;
}

.feedback-legend {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin-bottom: 32px;
}

.feedback-label {
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 9px;
}

.button-slide {
  padding: 15px 55px;
}

.feedback-email-div,
.feedback-message-div,
.feedback-name-div {
  display: flex;
  flex-direction: column;
}

.feedback-button {
  margin-top: 48px;
  width: 259px;
  height: 48px;
}

.feedback-message-div {
  margin-top: 30px;
}

.form-feedback input:invalid {
  border: 2px solid var(--basic-button);
  color: var(--basic-button);
}

.form-feedback .feedback-input:hover::placeholder {
  color: var(--modal-text-box-color);
  opacity: 0.5;
}

.form-feedback .feedback-input:focus {
  border: 2px solid var(--modal-text-box-color);
  opacity: 0.5;
}

.form-feedback .feedback-input:focus::placeholder {
  color: var(--modal-text-box-color);
}

.form-feedback .feedback-input:focus {
  border: 2px solid var(--modal-text-box-color);
  opacity: 1;
}

.section-map iframe {
  position: relative;
  border: none;
}

.section-map {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 416px;
}

.address-article {
  display: flex;
  flex-direction: column;
  padding: 49px 50px 47px 50px;
  position: absolute;
  top: 60px;
  left: 140px;
  background-color: var(--basic-white);
  z-index: 1;
}

.address-button {
  margin-top: 37px;
  padding: 15px 45px;
}

.address-text {
  color: var(--address-text);
  text-align: left;
  margin-top: 22px;
}

.contact-button {
  width: 219px;
  height: 50px;
}

.address-header {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  /* font-weight: 700px; */
  text-transform: uppercase;
}