@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra: #283136;
  --basic-white: #ffffff;
  --basic-light-gray: #eeeeee;
  --basic-button: #fb565a;
  --basic-button-mobile-app: #00ca74;
  --basic-button-mobile-app-hover: #00bc6c;
  --basic-button-mobile-app-click: #00aa62;
  --basic-button-presentation: #efc849;
  --basic-button-presentation-hover: #eab534;
  --basic-button-presentation-click: #e5a722;
  --basic-active-template: #4d4d4d;
  --basic-button-hover: #e74246;
  --basic-button-click: #d7373b;
  --basic-button-focus: #a6a6a6;
  --social-shape: #e1e1e1;
  --scale: #d7dcdf;
  --shadow: #cfcfcf;
  --bar: #00ca74;
  --filter-radio: #888888;
  --button-hover: #dfdfdf;
  --button-click: #d5d5d5;
  --border-pagination: #dbdbdb;
  --border-feedback-fieldset: #d7dcde;
  --modal-text-box-color:#444444;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1440px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1157px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li > a {
  list-style: none;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.main-header {
  background-color: var(--basic-light-gray);
  padding-top: 49px;
}

.main-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

/* .main-header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 437px;
  height: 30px;
} */

.item-navigation {
  line-height: 30px;
  font-weight: 500;
  margin-right: 45px;
}

.item-navigation a {
  display: block;
  /* outline: 5px solid green; */
  /* outline-offset: -5px; */
  /* padding: 25px 20px; */
}

.main-header-div a:hover,
.list-navigation a:hover {
  color: var(--basic-button);
}

.main-header-div a:focus,
.list-navigation a:focus {
  color: var(--basic-button-focus);
}

.list-navigation {
  list-style: none;
  /* outline: 5px solid rgb(90, 12, 12);
  outline-offset: -5px; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 14px;
  flex-wrap: wrap;
}

.list-navigation a {
  display: block;
  position: relative;
}

.link-cart {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  padding-top: 14px;
  color: var(--basic-black);
  /* outline: 5px solid rgb(90, 12, 12);
  outline-offset: -5px; */
}

.link-cart:before {
  content: "";
  background-image: url("../img/icon/cart-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  position: absolute;
  left: -18px;
  bottom: 8px;
}

.cart-text {
  margin-left: 25px;
}

/* Head pages */
.button {
  display: inline-block;
  background-color: var(--basic-button);
  text-transform: uppercase;
  padding: 15px 40px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  background-color: var(--basic-button-hover);
}

.button:focus {
  background-color: var(--basic-button-click);
}

.button-mobile-app {
  background-color: var(--basic-button-mobile-app);
}

.button-mobile-app:hover {
  background-color: var(--basic-button-mobile-app-hover);
}

.button-mobile-app:focus {
  background-color: var(--basic-button-mobile-app-click);
}

.button-slide {
  padding: 15px 55px;
}

.button-presentation {
  background-color: var(--basic-button-presentation);
}

.button-presentation:hover {
  background-color: var(--basic-button-presentation-hover);
}

.button-presentation:focus {
  background-color: var(--basic-button-presentation-click);
}

.slideshow {
  background-color: var(--basic-light-gray);
  margin-bottom: 80px;
  /* outline: 5px solid rgb(90, 12, 12); */
  /* outline-offset: -5px; */
  min-height: 431px;
  position: relative;
}

.slide {
  display: grid;
  grid-template-columns: 397px 760px;
}

.slide-photo {
  width: 760px;
  height: 431px;
}

.slide-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 78px;
  max-width: 397px;
}
.slider-controls {
  position: relative;
  top: 320px;
  /* right: 310px; */
  right: 48%;
  /* z-index: 20; */
  display: flex;
  min-width: 100px;
  justify-content: space-between;
}
.slider-controls button {
  /* position: relative; */
  padding: 0;
  width: 20px;
  height: 20px;
  /* background-color: var(--basic-white); */
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls .current {
  position: absolute;
  padding: 0;
  content: "";
  width: 12px;
  height: 12px;
  z-index: 1;
  left: 5px;
  top: 8px;
  /* background-color: var(--basic-white); */
  border: 4px solid #c4c4c4;
  border-radius: 50%;
  cursor: pointer;
}
.article {
  margin: 0;
  padding: 0;
}

.article .text {
  max-width: 397px;
}

.list-services {
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  row-gap: 60px;
  margin: 80px 0;
  padding: 0;
}

.list-services li img {
  width: 300px;
  height: 146px;
}

.services-section:after {
  content: "";
  position: absolute;
  background: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
  /* bottom:-44px; */
}

.text {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.orders-text {
  margin-top: 40px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.text-header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
  margin-top: 73px;
}

.benefits-section {
  display: flex;
  width: 1174px;
  margin: 0;
  padding: 0;
}

.partners-section {
  margin-top: 90px;
  margin-bottom: 120px;
  position: relative;
  /* outline: 5px solid green; */
}

.item-partner {
  margin: 0;
  padding: 0;
}

.partners-section:after {
  content: "";
  position: absolute;
  background: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
  bottom: -44px;
}

.partners-section:before {
  content: "";
  position: absolute;
  background: var(--basic-light-gray);
  height: 2px;
  width: 1158px;
  top: -46px;
}

.list-partners {
  list-style: none;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  /* margin-top: 46px;
  margin-bottom: 44px; */
  /* outline: 5px solid red; */
}

.benefits-column-one {
  margin: 0;
  padding: 0;
  margin-right: 149px;
}

/* .benefits-column-two {
  width: 374px;
} */

.benefits-column-two img {
  width: 360px;
  height: 208px;
  margin-top: 39px;
}

.benefits-text {
  margin-top: 37px;
  margin-bottom: 31px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.services-slogan {
  margin-top: 0;
  margin-bottom: 32px;
}

.address-text,
.desc-percent {
  line-height: 18px;
}

.percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  margin: 0;
}

.percent-symbol {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.list-orders {
  list-style: none;
  margin: 0;
}

.item-order {
  margin-bottom: 25px;
  margin-left: 20px;
  position: relative;
}

.list-orders li:before {
  content: "";
  border-top: 1px solid var(--basic-button);
  position: absolute;
  width: 25px;
  left: -38px;
  top: 10px;
}
.list-orders {
  list-style: none;
}
.item-order {
  margin-bottom: 25px;
  margin-left: 20px;
  position: relative;
}

.list-orders li::before {
  content: "";
  border-top: 1px solid red;
  position: absolute;
  width: 25px;
  left: -38px;
  top: 10px;
  /* bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px; */
}

/* Catalog page */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  column-gap: 140px;
  /* outline: 5px solid red; */
  outline-offset: -5px;
  margin-top: 55px;
}

.form-filter fieldset {
  border: none;
}

.range-controls {
  background-color: var(--basic-light-gray);
  height: 41px;
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.range-controls .scale {
  position: relative;
  height: 2px;
  background-color: var(--scale);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--bar);
}

.scale:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--scale);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow);
  cursor: pointer;
  bottom: -6px;
  left: 0;
}

.scale:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--scale);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow);
  cursor: pointer;
  left: 135px;
  bottom: -6px;
}

.min-price {
  margin-right: 20px;
}

.min-price-label {
  margin-right: 12px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  background-color: var(--basic-light-gray);
  border: none;
  border-radius: 5px;
  text-align: center;
}

.price-controls label {
  text-transform: uppercase;
  display: inline-block;
}

.button-filter {
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  padding: 20px 80px;
  border: none;
}

.button-filter:hover {
  background-color: var(--button-hover);
}

.button-filter:focus {
  background-color: var(--button-click);
  border: none;
  opacity: 0.5;
}

.sort-navigation {
  display: flex;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.sort-navigation .title {
  margin-right: 266px;
}

.list-sort-filter {
  display: flex;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.item-sort-filter {
  margin-right: 25px;
}

.icon-filter {
  margin: 0;
  margin-left: 21px;
  margin-right: 18px;
}

.result-sort-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  justify-content: space-between;
  list-style: none;
  /* margin: 0; */
  padding: 0;
}
.three-circles-container {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 20;
  display: flex;
  width: 75px;
  justify-content: space-between;
}


.three-circles-container .circle {
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-gray);
  border-radius: 50%;
  cursor: pointer;
}
.product {
  width: 359px;
  height: 578px;
  margin-bottom: 31px;
  position: relative;
  padding-top: 30px;
  /* outline: 5px solid blue; */
  /* margin-right: 41px; */
}

.product a:before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  background-color: var(--basic-light-gray);
  top: -10px;
}
.active-template a:before{
  background-color: var(--basic-active-template);
}
/* .product a:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--basic-white);
  border: 5px solid red;
  top: -10px;
  border-radius: 50%;
} */

.form-filter fieldset:first-child {
  /* display: flex; */
  /* flex-direction: column; */
  margin-bottom: 54px;
  width: 260px;
}

.filter-price {
  width: 260px;
}

/* .filter-price input {
  width: 80px;
  height: 38px;
} */

.filter-price legend {
  margin-bottom: 48px;
}

.form-filter fieldset {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.fieldset-grid {
  margin-bottom: 43px;
  margin-left: 35px;
}

.fieldset-grid legend {
  margin-left: -33px;
  margin-bottom: 10px;
}

.fieldset-feature {
  margin-bottom: 65px;
  margin-left: 35px;
}

.fieldset-feature label {
  position: relative;
  margin-bottom: 17px;
}

.fieldset-feature legend {
  margin-bottom: 14px;
  margin-left: -33px;
}

.filter-feature-checkbox + label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--filter-radio);
  opacity: 0.5;
  /* top: 0px; */
  left: -33px;
  border-radius: 20%;

}

.filter-feature-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  /* border: 3px solid var(--filter-radio); */
  background-image: url("../img/icon/checked-symbol.svg");
  opacity: 0.5;
  top: 0px;
  left: -29px;
  /* border-radius: 50%; */
  /* box-shadow: 0 1px 1px 0 var(--basic-button-focus); */
}

.filter-label {
  line-height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 15px;
  /* margin-bottom: 19px; */
}

.filter-grid-radio + label:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: 4px solid var(--filter-radio);
  opacity: 0.5;
  left: -33px;
  border-radius: 50%;
}

.fieldset-grid label:hover {
  opacity: 1;
color: var(--basic-active-template);

}
.filter-grid-radio:checked:hover + label:before,
.filter-grid-radio:hover + label:before
{
  border: 4px solid var(--basic-active-template);
  opacity: 1;

}
.filter-feature-checkbox:checked:hover + label:after,
.filter-feature-checkbox:hover + label:after
 {
  border: 4px solid var(--basic-active-template);
  opacity: 1;
  border-radius: 20%;

}
.filter-grid-radio:checked + label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border: 3px solid var(--filter-radio);
  background-color: var(--filter-radio);
  opacity: 0.5;
  top: 7px;
  left: -27px;
  border-radius: 50%;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--basic-light-gray);
  text-align: center;
}

.title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-header {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.pagination-number,
.address-text,
.button {
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  font-weight: 500;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.but-services {
  margin-top: 49px;
  margin-bottom: 80px;
}

.footer-text {
  line-height: 22px;
}

.pagination {
  line-height: 18px;
  display: flex;
  margin: 0;
  padding: 0;
}
.pagination-number:not(:first-child) a:hover,
.pagination li:not(:first-child):hover {
  background-color: var(--button-hover);

}

.pagination-number:not(:first-child) a:focus,
.pagination li:not(:first-child):focus {
  background-color: var(--button-click);
  opacity: 0.5;
}

.pagination .active-page {
  background-color: var(--basic-white);
  border: 3px solid var(--border-pagination);
}

.pagination li {
  margin-right: 11px;
  background-color: var(--basic-light-gray);
  padding: 16px 18px;
}

.pagination .next {
  padding: 15px 60px;
  text-transform: uppercase;
}

.orders-text,
.benefits-text {
  font-weight: 700;
}

/* Footer */
ervices-article {
  outline: 5px solid #d7373b;
  margin: 0;
  padding: 0;
}

.sub-footer {
  /* display: grid;
  grid-template-columns: min-content 1fr; */
  display: flex;
  flex-direction: row;
  /* grid-template-columns: min-content 1fr; */
  /* margin-left: 139px; */
  /* justify-content: space-between; */
}
.social-container {
  margin-right: 139px;
}

.item-social {
  width: 81px;
  height: 81px;
  margin-right: 9px;
  background: var(--social-shape);
  border-radius: 50%;
  position: relative;
}

.item-social img {
  /* margin: 30px 30px; */
  position: absolute;
  left: 33px;
  right: 32px;
  bottom: 48x;
  top: 32px;
}

.item-social:hover {
  background-color: var(--basic-button-hover);
}

.item-social a:focus {
  background-color: var(--basic-button-click);
  opacity: 0.3;
}
.list-social {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-benefits {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  margin-top: 31px;
}

/* .border {
  border-bottom: 2px solid var(--basic-light-gray);
} */

/* .benefits-img {
  outline: 5px solid blue;
} */

.section-map {
  background-image: url(../img/photo/map.png);
  margin-top: 80px;
  margin-bottom: 68px;
}

.footer-div {
  /* justify-self: center; */
  /* display: flex; */
}

/* Modal */

.modal {
  margin-left: 50px;
  margin-bottom: 50px;
}

.form-feedback fieldset {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--border-feedback-fieldset);
  /* border: none; */
  padding: 84px 100px 64px 100px;
}

.form-feedback input {
  width: 360px;
  height: 50px;
  border: 2px solid var(--border-feedback-fieldset);
}

.form-feedback textarea {
  border: 2px solid var(--border-feedback-fieldset);
}

.form-feedback div {
  display: flex;
  flex-direction: column;
}

.feedback-legend {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin-top: -20px;
}

.feedback-label {
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 9px;
}

.feedback-name-div {
  margin-right: 40px;
}

.feedback-message-div textarea {
  width: 760px;
  height: 118px;
}

.feedback-message-div {
  margin-top: 34px;
}

.feedback-button {
  padding: 15px 90px;
  margin-top: 47px;
  margin-left: 95px;
}

.form-feedback .feedback-input:hover::placeholder
{
  color:var(--modal-text-box-color);
  opacity: 0.5;
}
.form-feedback .feedback-input:fohovercus{
  border: 2px solid var(--modal-text-box-color);
  opacity: 0.5;
}
.form-feedback .feedback-input:focus::placeholder
{
  color:var(--modal-text-box-color);
}
.form-feedback .feedback-input:focus{
  border: 2px solid var(--modal-text-box-color);
  opacity: 1;
}
