@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra: #283136;
  --basic-white: #ffffff;
  --basic-light-gray: #eeeeee;
  --basic-button: #fb565a;
  --basic-button-mobile-app: #00ca74;
  --basic-button-mobile-app-hover: #00bc6c;
  --basic-button-mobile-app-click: #00aa62;
  --basic-button-presentation: #efc849;
  --basic-button-presentation-hover: #efc849;
  --basic-button-presentation-click: #e5a722;
  --basic-active-template: #4d4d4d;
  --basic-button-hover: #e74246;
  --basic-button-click: #d7373b;
  --basic-nav-link-hover: #fb565a;
  --social-shape: #E1E1E1;

}

.page {
  height: 100%;
}

.page-body {
  min-width: 1440px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1157px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


li>a {
  list-style: none;
  color: var(--basic-black);
}

/* .link-cart,
.list-navigation a {
  color: var(--basic-black);
  line-height: 30px;
  font-weight: 500;
} */

/* Header */
.main-header {
  background-color: var(--basic-light-gray);
}

.main-header-nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  width: 1157px;
  margin: 0 auto;
}

.list-navigation {
  list-style: none;
  /* outline:5px solid rgb(90, 12, 12); 
  outline-offset:-5px; */
  margin: 0;
  padding: 0;
}

.item-navigation a,
.link-cart {
  line-height: 30px;
  font-weight: 500;
}

.link-cart {
  color: var(--basic-black);
}


/* Head pages */

.slideshow {
  background-color: var(--basic-light-gray);
  margin-bottom: 80px;
  outline: 5px solid rgb(90, 12, 12);
  outline-offset: -5px;
  height: 431px;
}

.slideshow-container {
  /* margin-bottom: 80px; */
  width: 1157px;
  margin: 0 auto;
}

.slide {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.slide-photo {
  background-position: center 0 0;
  /* outline: 5px solid #d7373b; */
}

.address-text,
.desc-percent {
  line-height: 18px;
}

.percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  margin: 0;
}

.percent-symbol {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.slide-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  margin-bottom: 25px;
  /* margin-top:78px; */
}

.list-partners {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.partners-section {
  margin-top: 63px;
  margin-bottom: 49px;
}


/* Catalog page */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
  column-gap: 40px;
  outline: 5px solid red;
  outline-offset: -5px;
}

.filter-label {
  line-height: 20px;
}

.list-sort-filter {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--basic-light-gray);
  text-align: center;
}

.title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.services-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.pagination-number,
.address-text,
.feedback-label,
.button {
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  font-weight: 500;
}

.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.but-services {
  margin-top: 49px;
  margin-bottom: 80px;
}

.filter-label,
.footer-text {
  line-height: 22px;
}

.pagination {
  line-height: 18px;
}

.orders-text,
.benefits-text {
  font-weight: 700;
}

/* Footer */
.feedback-legend {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}

.feedback-label {
  line-height: 18px;
  font-weight: 700;
}

.article {
  margin: 0;
  padding: 0;
}

/* .services-article {
  outline: 5px solid #d7373b;
  margin:0;
  padding:0;

} */
.services-section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  margin: 80px 0;
}

.sub-footer {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.benefits-section {
  display: grid;
  grid-template-columns: 1fr max-content;
  /* outline: 5px solid #377cd7; */
  padding: 0;
  margin: 39px 0 73px 0;
}

.item-social {
  width: 81px;
  height: 81px;

  background: var(--social-shape);
  border-radius: 50%;
}

.item-social img {
  margin: 30px 30px;
}

.list-benefits {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 31px;
  padding: 0;
}

.border {
  border-bottom: 2px solid var(--basic-light-gray);
}

.text-header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 32px;
  margin-top: 0px;
}

.text {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.orders-text {
  margin-top: 40px;
  margin-bottom: 23px;
}

/* .benefits-column-one {
  margin-right: 149px;
  margin-top: 73px;
  outline: 5px solid blue;
}
.benefits-column-two {
  margin-top: 39px;
  outline: 5px solid blue;
} */
.benefits-text {
  margin-top: 37px;
  margin-bottom: 31px;
  text-align: center;
  font-weight: 700;
}

/* .benefits-img {
  outline: 5px solid blue;
} */


.but-services {
  background: var(--basic-button);
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
}

.section-map {
  background-image: url(../img/photo/map.png);
  margin-top: 80px;
  margin-bottom: 68px;
}

.services-slogan {
  margin-top: 0;
  margin-bottom: 48px;
}

.footer-div {
  justify-self: center;
}

.list-social {
  list-style: none;
}